body {
  margin-left: 1em;
}

.nav-global
{
  padding: .2em;
  border: 1px solid black;
}

/* Preferred table defaults */
table { border-collapse: collapse; }
th { text-align: left; }
td { vertical-align: top; }

table.grid-table th, table.grid-table td
{
  border: 1px solid black;
  padding-left: .3em;
  padding-right: .3em;
}

.inline-block
{
  display: inline-block;
  vertical-align: top;
  margin: .5em;
}

.inline-block h2
{
  margin-bottom: .2em;
}
h2.low-top
{
  margin-top: 0;
}

.currency {
  text-align: right;
}

.monthly-statement
{
  border-bottom: 1px solid #0f2c6e;
}

.monthly-statement th
{
    color: white;
    background: #0f2c6e;
}

.monthly-statement tr:nth-child(2n)
{
    background: #d8dce8;
}

.monthly-statement td, .monthly-statement th
{
    padding-left: .3em;
    padding-right: .3em;
}

.monthly-statement .money { text-align: right }
.monthly-statement .withdrawal { color: red }

.monthly-statement td:last-child
{
    max-width: 450px;
}

/* tree navigation styling */
ul.tree-nav
{
  list-style: none;
  padding-left: 1em;
  /* border: 1px solid black; */
}

.tree-nav-root {
  margin-top: 0;
  border: 1px solid #ddd;
}

ul.tree-nav .triangle
{
  font-size: 70%;
}

.clickable
{
  cursor: pointer;
}

ul.tree-nav .clickable:hover
{
  border: 1px solid #bbb;
}
