
<h1>Account {{$ctrl.getAccount($ctrl.transactionDetails.account_id).name}}
  for {{$ctrl.transactionDetails.month}}</h1>

<p>Have {{$ctrl.transactionDetails.transactions.length}} transactions</p>

<transaction-detail-table
    transactions="$ctrl.transactionDetails.transactions"
    openingDate='$ctrl.transactionDetails.balance_date'
    openingPendingBalance='$ctrl.transactionDetails.pending_balance'
    openingClearedBalance='$ctrl.transactionDetails.cleared_balance'>
</transaction-detail-table>
